@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles  */

* {
    margin: 0;
    padding: 0;
}

.caption {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

.caption-2 {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
}

.shared-h2 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-primary,
.btn-secondary {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 3rem;
    background: #FF42A5;
    padding: 21px 40px;
    border: none;
}


.online-games-h2 {
    color: #0B0223;
    font-size: 3rem;
    font-style: normal;
}

/* header styles  */

.nav-container {
    display: flex;
    justify-content: center;
    gap: 680px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-logo {
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.nav-logo img {
    height: 40px;
    width: 86px;
}

.nav-logo h2 {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-logo h2 span {
    color: #FF42A5;
}

.nav-options {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-options li {
    list-style: none;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
}

.nav-options-contact ul {
    display: flex;
    gap: 2rem;
}

.nav-options-anchor ul {
    display: flex;
    gap: 1.5rem;
    padding: 16px 18px;
}

.nav-options-anchor {
    margin-top: 37px;
    margin-bottom: 37px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}


/* main styles  */

/* banner styles  */


.banner-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    background: url('../images/Group 14.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 53%;

}

.banner-text {
    padding-top: 140px 160px;

}

.banner-text h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;

}

.banner-text h1 {
    font-size: 6rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-text p {
    margin-bottom: 1rem;
}

.btn-style {
    display: flex;
    justify-content: left;
    gap: 1.5rem;
}

.btn-secondary {
    background: #4EC5F7;
}

.banner-img img {
    width: 90%;
}


/* we are gamer styles  */

.gamer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}


.gamer-img img {

    padding-left: 40px;
}

.gamer-text {
    text-align: end;
    padding-right: 120px;
}

.gamer-text .purpose {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
}

.gamer-text h3 {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}

.gamer-text h2 {
    margin-bottom: 1.5rem;
}

.gamer-text .caption-2 {
    margin-bottom: 2rem;
    padding-left: 50px;
}

.gamer-text button {
    margin-bottom: 1.5rem;
}



/* online games section  */



.online-games span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
}

.online-games h2,
.online-games .caption-2 {
    text-align: center;
}

.online-games {
    margin-top: 120px;
    margin-bottom: 120px;
}

.online-games .caption-2 {
    margin-top: 20px;
    margin-bottom: 0;
}


.card-container {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.card {
    width: 300px;
    height: 300px;
}

.card img {
    width: 300px;
}



/* play games section  */

.play-games-container {
    margin-top: 200px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 150px;
    align-items: center;

}

.play-games-img {
    /* border: 1px solid tomato; */
    margin-left: 130px;
}

.play-games-img #img1{
    width: 34vw;
    height: 70vh;
}
.play-games-img #img2{
    width: 17vw;
    height: 30vh;
    position: relative; 
    left: 25vw;
    bottom: 20vh;
}

.play-games-text {
    margin-right: 250px;
    text-align: start;
    /* border: 1px solid yellow; */
    padding-bottom: 150px;
}

.play-games-text h2{
    margin-bottom: 1rem;
}

.online-games-h2 span {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* types of games styles */

.game-container{
    margin-top: 20px;
}


.class{
    display: flex;
    align-items: center;
    gap: 16px;
}

.class:hover{
    border: 2px solid #FF42A5;
    border-radius: 50px;
    padding: 5px;
}

.list-a{
    display: grid;
    grid-template-columns: repeat(5,200px);
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
}

.list-b{
    display: grid;
    grid-template-columns: repeat(4,200px);
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;
}

